<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/main.js"></script>
  </head>
  <body>
    <!-- <div id="map"></div>
    <script>
      var map;

      var uluru = {lat: 12.971599, lng: 77.594566};
      var uluru2 = {lat: 13.082680, lng: 80.270721};
      var rad = function(x) {
  return x * Math.PI / 180;
};

var getDistance = function(p1, p2) {
  var R = 6378137; // Earth’s mean radius in meter
  var dLat = rad(p2.lat() - p1.lat());
  var dLong = rad(p2.lng() - p1.lng());
  var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
    Math.cos(rad(p1.lat())) * Math.cos(rad(p2.lat())) *
    Math.sin(dLong / 2) * Math.sin(dLong / 2);
  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
  var d = R * c;
  return d; // returns the distance in meter
};
      function initMap() {
        alert("Loaded");
        map = new google.maps.Map(document.getElementById('map'), {
          center: uluru,
          zoom: 8
        });
        var marker = new google.maps.Marker({position: new google.maps.LatLng(uluru["lat"], uluru["lng"]), map: map});
        var marker2 = new google.maps.Marker({position: new google.maps.LatLng(uluru2["lat"], uluru2["lng"]), map: map});
        //var marker2 = new google.maps.Marker({position: uluru2, map: map});
       var dis = getDistance(uluru, uluru2);

      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADYoLZBB13GKV04FXoZfyaj67hH6Ohw9Y&callback=initMap"
    async defer></script> -->
    <div id="floating-panel">
<b>Start: </b>
<select id="start">
  <option value="penn station, new york, ny">Penn Station</option>
  <option value="grand central station, new york, ny">Grand Central Station</option>
  <option value="625 8th Avenue, New York, NY, 10018">Port Authority Bus Terminal</option>
  <option value="staten island ferry terminal, new york, ny">Staten Island Ferry Terminal</option>
  <option value="101 E 125th Street, New York, NY">Harlem - 125th St Station</option>
</select>
<b>End: </b>
<select id="end">
  <option value="260 Broadway New York NY 10007">City Hall</option>
  <option value="W 49th St & 5th Ave, New York, NY 10020">Rockefeller Center</option>
  <option value="moma, New York, NY">MOMA</option>
  <option value="350 5th Ave, New York, NY, 10118">Empire State Building</option>
  <option value="253 West 125th Street, New York, NY">Apollo Theater</option>
  <option value="1 Wall St, New York, NY">Wall St</option>
</select>
</div>
<div id="map"></div>
&nbsp;
<div id="warnings-panel"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADYoLZBB13GKV04FXoZfyaj67hH6Ohw9Y&callback=initMap"
async defer></script>
  </body>
</html>
